.App {
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  background-color: darkred;
  color: white;
}
.header ul {
  display: flex;
  justify-content: space-around;
}
.header li {
  list-style: none;
  margin: 15px;
}
img {
  margin-top: 100px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
}
.header a {
  color: white;
}